<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/jquery.js"></script>
</head>
<body>
    <form id="form-login">
        <div id="login-box">
            <h1>Login</h1>
            <div class="form">
                <div class="item">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div class="item">
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <input type="password" name="password" placeholder="Password">
                </div>
            </div>
            <input type="button" value="Login" id="btn-login">
            
        </div>
    </form>

    <script src="../static/js/urls.js"></script>
    <script type="text/javascript">
        $("#btn-login").click(function() {
            // alert("准备注册！");
            $.ajax({
                "url":ctx+"/user/login",
                "data":$("#form-login").serialize(),
                "type":"POST",
                "dataType":"json",
                "success":function (json) {
                    if (json.state == 2004) {
                        alert("登录失败："+json.message);
                    } else {
                        alert("登录成功：");
                        location.href="admin.html";
                    }
                }
            });
        });
    </script>
</body>
</html>